<div class="lightbox flex" ng-controller="mailListCtrl as m" ng-init="m.init()">
  <div class="content top-padded flex" style="flex-wrap:wrap;">
    <div class="mail-icon" style="flex:1;">
      <span class="glyphicon glyphicon-envelope testimonial-glyph"></span>
    </div>
    <form name="m.form" style="flex:2;">
      <h3 ng-bind="::master.txtData.mailListHeading"></h3>
      <div ng-bind="::master.txtData.mailListContent"></div>
      <input class="mail-input" type="email" name="mail" ng-model="m.mail" placeholder="{{::master.txtData.yourMail}}" required>
      <ul class="nav nav-pills mail-menu flex">
        <li style="flex:1;"><a href ng-click="m.subscribe()" ng-disabled="m.mailAddress.$invalid" ng-bind="::master.txtData.signMeUp"></a></li>
        <li style="flex:1;"><a href ng-click="m.cancel()" ng-bind="::master.txtData.notToday"></a></li>
      </ul>
    </form>
  </div>
</div>
