<!DOCTYPE html>
<html ng-app="app" ng-controller="masterCtrl as master" lang="en-US">
<head>
  <script>console.log("%c𝔗𝔥𝔬𝔯𝔦𝔫-𝔊𝔞𝔪𝔢𝔰", "font-size:75px")</script>
  <title ng-bind="master.loc">Thorin-Games — The best place on the internet to play browser games</title>
  <meta charset="UTF-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Thorin-games">
  <meta name="description" content="{{master.desc}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
  <link rel="apple-touch-icon" href="src/img/apple-touch-icon.png" />
  <style ng-bind="master.css"></style>
  <!--Important CSS:-->
  <style>body{line-height: 1.42857143;background-color:#222;margin:0;font-family: ubuntu, Sans-Serif;text-align:center}ul{display:flex;flex-wrap:wrap}li{display:block}header{background: #FEFEFE; border: 1px solid #CCC; letter-spacing: 1px; height: 66px;}.content{font-size: 18px; width: 80%; background: #FEFEFE; border: 1px solid #CCC; margin: 35px auto; padding: 30px 11px; max-width: 900px;border-radius: 15px;}</style>
  <base href="/">
  <link href="min/main.min.css" rel="stylesheet">
</head>
<body para-back="src/img/background.jpg" ng-controller="viewCtrl as view" ontouchstart class="fallback" style="background-image: url(src/img/background.jpg);">

  <lazy ng-if="master.lazyModulesLoaded"><lazy ng-controller="lazyStuff as lazy"></lazy></lazy>

  <header ng-show="view.showHeader()">
    <h1>Thorin-games</h1>
  </header>

  <spacer ng-show="view.showHeader()"></spacer>

  <noscript>
    <div class="content top-padded">
      This website requires JavaScript in order to work. Please enable JavaScript in your browser settings.
    </div>
  </noscript>

  <div ng-if="master.mlcLoaded">
    <div ng-include="'src/html/mail-lightbox.html'"></div>
  </div>

  <div class="content noselect top-padded" id="menu" ng-show="view.showHeader()" style="min-height:158px">
    <ul class="nav nav-pills cat-menu" ng-class="{'show-all': master.showAllTags}">
      <li ng-class="{ active: master.ifHome() }"><a href ng-click="master.goHome()"><span class="glyphicon glyphicon-stats"></span> <span ng-bind="master.textData.popular">Popular</span></a></li>
      <li class="submit-g" ng-class="{ active: master.ifAtSubmit() }"><a ng-click="master.goTo('submit')"><span class="glyphicon glyphicon-plus"></span> <span ng-bind="master.textData.submitYourGame">Submit a game</span></a></li>
      <li class="contact" ng-class="{ active: master.ifAt('/contact') }"><a ng-click="master.goTo('contact')"><span class="glyphicon glyphicon-earphone"></span> <span ng-bind="master.textData.contact">Contact</span></a></li>
      <li class="search" ng-class="{ searching: alert(this) }"><a class="no-c-change"><input ng-model="master.otag" placeholder="{{master.textData.search}}" ng-keyup="master.search()"></a></li>
      <li ng-class="{ active: master.tagIs(tag.name)}" ng-repeat="tag in master.tags" ng-if="tag.amount>13" class="tag"><a href ng-click="master.goTo('tag/'+tag.name)">{{::tag.name}} ({{::tag.amount}})</a></li>
      <li><a href ng-click="master.toggleTags()" class="glyphicon glyphicon-option-horizontal"></span></a></li>
    </ul>
  </div>

  <div class="content" ng-if="false">Welcome to Thorin-Games. Here you can find a broad selection of flash and html5 games sorted by popularity and category.<br><br>Amount of games now: 1964</div>

  <div class="content games-wrapper" ng-if="false" style="min-height:269px">
    <div id="games">
      <div class="game-info-container" ng-hide="cat.allGamesAreDisplayed()">
        <div class="title"><img src="/src/img/loading.svg" class="loader">Loading...</div>
        <img src="/src/img/loading.svg" class="loader">
      </div>
    </div>
  </div>

  <div class="ng-view" ng-cloak scroll></div>

  <lazy ng-if="master.mlcLoaded" id="cookies" class="noselect">
    <div ng-include="'src/html/cookie-box.html'" ng-controller="cookieCtrl as c"></div>
  </lazy>

  <div class="cookie-box" style="opacity: 1;background: #fefefe;" ng-if="!master.mlcLoaded">This website uses cookies to track pageviews and saves data locally to reduce page load time</div>

  <!-- Services -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
  <!-- Minfied file with all js-code: -->
  <script src="min/initial-js.min.js"></script>
</body>

</html>
