<view-wrapper ng-controller="categoryCtrl as cat">
  <div ng-if="cat.noGames" class="content top-padded">
    <span ng-bind="master.textData.noGamesWithTag"></span> {{cat.tag}}!
  </div>

  <div class="content games-wrapper">
    <div id="games">
      <div ng-repeat="game in cat.games track by $index" class="game-info-container">
        <div class="title" ng-click="master.goToGame(game.id)"><img ng-src="{{::game.thumbnail}}">{{::game.title}}</div>
        <div ng-click="master.goToGame(game.id)"><img height="80px" class="appIcon" ng-src="{{::game.thumbnail}}" alt="{{::game.title}}"></div>
        <div ng-click="master.goToGame(game.id)">
          <span id="{{::game.id}}">{{game.likes}}</span> likes
        </div>
        <div class="app-desc" ng-click="master.goToGame(game.id)">{{::game.description}}</div>
        <div class="like-panel-wrapper">
          <div class="like-panel" ng-if="!view.ifMobile">
            <div>
              <button class="like" ng-disabled="master.ifDisabled()" ng-class="{ disabled:master.ifDisabled() }" ng-click="master.like(game.id)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            </div>
            <div>
              <button class="like" ng-disabled="master.ifDisabled()" ng-class="{ disabled:master.ifDisabled() }" ng-click="master.dislike(game.id)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            </div>
          </div>
          <ul class="nav nav-pills mob-like" ng-if="view.ifMobile">
            <li ng-class="{ disabled:master.ifDisabled() }"><a ng-click="master.like(game.id)"><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
            <li ng-class="{ disabled:master.ifDisabled() }"><a ng-click="master.dislike(game.id)"><span class="glyphicon glyphicon-thumbs-down"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="game-info-container" ng-hide="cat.allGamesAreDisplayed()">
        <div class="title"><img src="/src/img/loading.svg" class="loader">Loading...</div>
        <img src="/src/img/loading.svg" class="loader">
      </div>
    </div>
  </div>
</view-wrapper>
