<style>
 .game-info-container {
    border: 1px solid hsla(0,0%,80%,1);
    margin-top:15px;
 }
 .flexbox {
   display: flex;
   flex-wrap: wrap;
   margin-top: 25px;
 }
 .description {
   padding: 0 15px;
 }
 .link {
   padding: 10px 15px;
 }
 .title { background-color:transparent; text-align:center; margin-bottom: 10px;}
</style>

<script type="text/javascript-lazy">
  app.controller('contactCtrl', ['$scope', function ($scope) {
    $scope.master.loc = "Texiplay — "+$scope.master.textData.contactHead;
    $scope.master.desc = $scope.master.textData.contactCont;
  }]);
</script>

<div class="content" ng-controller="contactCtrl">
  <h2 ng-bind="::master.textData.contactHead"></h2>
  <div ng-bind="::master.textData.contactCont"></div>
  <div class="flexbox">
    <div class="game-info-container">
      <div class="title" ng-bind="::master.textData.supportStaff"></div>
      <div class="description" ng-bind="::master.textData.supportStaffDesc"></div>
      <div class="link"><a href="mailto:support@texiplay.tk">support@texiplay.tk</a></div>
    </div>
    <div class="game-info-container">
      <div class="title" ng-bind="::master.textData.bugReport"></div>
      <div class="description" ng-bind="::master.textData.bugReportDesc"></div>
      <div class="link"><a href="mailto:bugreport@texiplay.tk">bugreport@texiplay.tk</a></div>
    </div>
  </div>
</div>
