<div class="back-container" ng-class="{'absolute-container':g.ifSpace()}">
  <a class="back-arrow" href ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>

<div style="height:100%; width:100%;display:table; margin:0 auto;margin-top: 15px;">
  <div style="vertical-align:middle; display:table-cell;">

    <div ng-hide="view.ifMobile && !detail.mobile" style="width:95%;height:85%;margin-left:auto;margin-top:auto;margin-bottom:15px;margin-right:auto;text-align:center" id="wrapper">
      <embed width="{{detail.width}}" height="{{detail.height}}" style="margin-left:auto;margin-right:auto;">
    </div>

    <div class="game-sec flex" ng-class="{ noMargin:view.ifMobile }">
      <div style="flex:1;"></div>

      <div class="comments">
        <div class="com-container flex" ng-if="detail.instructions.length > 2"><div class="instructions" ng-bind="::detail.instructions"></div></div>

        <div class="com-container flex">
          <div style="flex:1;">
            <button ng-disabled="ifDisabled()" ng-class="{ disabled:ifDisabled() }" class="like" ng-click="g.rate(detail.id, 'like')"><span class="glyphicon glyphicon-thumbs-up"></span></button>
          </div>
          <div class="instructions" ng-bind="detail.likes+' likes'"></div>
          <div style="flex:1;">
            <button ng-disabled="ifDisabled()" ng-class="{ disabled:ifDisabled() }" class="like" ng-click="g.rate(detail.id, 'dislike')"><span class="glyphicon glyphicon-thumbs-down"></span></button>
          </div>
        </div>

        <div ng-repeat="com in detail.comments track by $index" class="com-container" ng-if="master.mlcLoaded">
          <div class="com" ng-bind="::com.com | mouthWash:this"></div>
          <div class="com-author" ng-bind="::com.author | mouthWash:this"></div>
          <div class="com-date" ng-bind="::com.date | chatTime:this"></div>
        </div>

        <form class="com-container flex" name="commentForm" style="align-items:stretch;">
          <div style="flex:3;">
            <textarea type="text" name="comment" class="com new-com-field" ng-model="comment" style="max-width: /*98*/99%;" placeholder="{{master.textData.yourComment}}" ng-class="{ 'red-border':commentForm.comment.$invalid && commentForm.comment.$touched }" rows="1" required></textarea>
            <div class="com-author">— <input type="text" name="author" ng-model="author" class="new-com-field" style="max-width:/*89.8288536*/84%;" placeholder="{{master.textData.yourNick}}" ng-class="{ 'red-border':commentForm.author.$invalid && commentForm.author.$touched }" required></div>
          </div>
          <div style="flex:1;display:flex" class="send-message">
            <a ng-class="{ disabled:ifDisabled() }" class="glyphicon glyphicon-send" ng-click="submit()"></a>
          </div>
        </form>
      </div>

      <div style="flex:1;"></div>
    </div>

  </div>
</div>
