body{font-family: ubuntu, sans-serif;line-height: 1.42857143;overflow-x: hidden;}
* {
  box-sizing: border-box;
}
header{width:100%;background:#FEFEFE;border:1px solid #CCC;letter-spacing:1px;height:66px;z-index:1000;top:0;}
@media (min-height: 570px) {
  header {
    position: fixed;
  }
  spacer{display:block;height: 66px;}
}
h1 {
  font-size: 26px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.content{font-size:18px;width:80%;background:#FEFEFE;border:1px solid #CCC;margin:35px auto;padding-left:11px;padding-right:11px;max-width:900px;padding-bottom:30px;border-radius: 15px;}
.submit-content{overflow: auto;}
.noselect, [ng-click] {-webkit-user-select: none; user-select:none;cursor: default;}
.top-padded{padding-top:30px;}
/*.not-padded{padding:7px;padding-left:7px;padding-top:7px;padding-right:7px;padding-bottom:7px;}*/
/*.nav-pills > li{float: left;display: block;}*/
.nav-pills{display: flex;flex-wrap: wrap;overflow-y: hidden; -webkit-overflow-scrolling: touch;}
.nav-pills>li {
  margin: 1px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.nav-pills>li>a{
  color:#1a1a1a;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-pills>li>a>.glyphicon {
  margin-right: 4px;
}
.nav-pills > li > a:hover {background-color:#eee}
.nav-pills > li > a:active {color:#fff;background-color:#1a1a1a;}
.nav-pills>li.active>a {color:#fff !important;background-color:#1a1a1a !important}
.nav-pills>li.active {display: block !important;}
/*.nav-pills>li{max-width: 100%;}
.nav-pills>li>a{max-width: 100%;margin: 1px;}*/
h3{margin-top:10px;}
.game-info-container{
  /*margin: 10px 15px 10px 0px;*/
  margin: 5px;
  background-color: #fefefe;
    border-radius: 15px;
    width: 275px;
    flex-grow: 1;
min-width: 25%;
  }
  .container {
    max-width: 100%;
  }
.appIcon{max-width:50%;width:80px;height:80px;border-radius:15px;margin:8px;}
.app-version>div>div>a>.appIcon{max-width:80%;width:80px;border-radius:15px;margin:8px;}

/*.app-link>li{float:none;margin-left:auto;margin-right:auto;margin-bottom:5px;max-width:250px;margin-top:14px;}
.app-link>li>a{float:none;margin-left:auto;margin-right:auto;background-color:#1a1a1a;color:white;}
.app-link>li>a:hover{color:#000}
.app-link>li>a:active{color:#fff;background-color:#AFBECC;}*/
.app-desc, .like-panel{max-width:300px;margin-left:auto;margin-right:auto;margin-bottom:24px;word-wrap: break-word;padding: 0 5px;}
@media (min-width: 992px){.col-md-4{width:33.33333333%}}
.like{margin-left:auto;margin-right:auto;background-color:#1a1a1a;color:#fbfbfb;border-radius:100%;border:none;font-size:22px;width:40px;height:40px;}
@media (max-width: 400px) {
  .like {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .like>span {
    margin-left: -7px;
  }
}
.disabled, .disabled>a{background-color: #ccc !important;cursor: not-allowed !important;color: initial !important;}
.instructions{word-wrap: break-word;flex: 4;}
.com-container{background-color: #4a4a4a;padding: 13px;border-radius: 10px;margin-bottom: 20px;overflow: auto;}
.com{margin-bottom: 8px;}
.com-author{font-variant: small-caps;font-size: medium;float:left;}
.com-date{float: right;font-size: small;}
.trans, #games, .games-wrapper{background-color: transparent;border: 0px}
.mob-like{width: 100%;min-width: 100%;max-width: 100%;}
.mob-like>li{width: 49% !important;max-width: 49% !important;min-width: 49% !important;color:#000;float:left}
.mob-like>li>a{color:#000}
.no-padding{padding:10px;}
.comments{min-width: 280px; flex: 2;font-size: 1.2em;max-width: 500px;}
.game-sec{color:#fbfbfb;}
/*.animate-if.ng-enter, .animate-if.ng-leave {transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;}
.animate-if.ng-enter,.animate-if.ng-leave.ng-leave-active {opacity:0;}
.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {opacity:1;}*/
.back-arrow{font-size: 1.5em !important;color: #fbfbfb !important;}
.back-arrow:hover{color: #ddd !important;}
.back-arrow:active{color: #666 !important;}
.back-container{text-align:left;padding-left: 30px;margin-top: 20px;margin-bottom: 15px;}
.absolute-container{top: 20px;left: 30px;position: absolute;padding: 0;margin: 0;}
@keyframes spin {0% {transform: rotate(45deg);}17% {transform: rotate(300deg);}34% {transform: rotate(90deg);}51% {transform: rotate(450deg);}66% {transform: rotate(135deg);}83% {transform: rotate(495deg);}100% {transform: rotate(405deg);}}
.loader{animation-name: spin;animation-duration: 5s;animation-iteration-count: infinite;}
/*.home-wrapper{height: 1000px;overflow: scroll;margin-left: auto;margin-right: auto;margin-bottom: 3px;}*/
/*.weather-icon{height: 80px;width: 80px;}*/
/*.cat-menu>li,.cat-menu>li>a{height: 50px;}*/
.no-c-change {padding: 0 !important;}
.no-c-change:active, .no-c-change:hover, .no-c-change:focus{background-color: #fff !important;color:#1a1a1a !important;}
/*.no-c-change>form {display: flex;align-items: center;}
.no-c-change>form>input {max-width: 85%;}*/
.search>a>input{max-width: 145px;min-width: 100%;padding: 10px 15px;border: 1px solid #ccc;border-radius: 5px;background: url(/src/img/search.png) 96% / 35px no-repeat;}
.sb{padding: 6px;border-radius: 5px;background: #1a1a1a;color: #fff;border: 0px;width: 30px;height: 30px;}
.sb:hover{background-color: #ebebeb}
.sb:active{background-color: #1a1a1a;color: #fff}
.submit-form>input, .submit-form>textarea, .mail-input{display: block;margin: 10px;width: 80%;margin-left: auto;margin-right: auto;border: 1px solid #bbb;border-radius: 3px;}
.submit-form>textarea{max-width: 80%;}
.input-error{width: 80%;margin: auto;padding: 3px;}
#menu{display: none}
.send-message{min-height: 100%;}
.send-message>a{min-height: 100%;min-width: 100%;display: flex;align-items: center;color: #fff;background-color: #777;border: 2px solid #444;font-size: 1.5em;border-radius: 10px;}
.send-message>a::before{margin: auto;}
.send-message>a:active {background-color: #AFBECC}
.new-com-field{width: 100%;background-color: #777;border: 2px solid #444;border-radius: 4px;}
.red-border::-webkit-input-placeholder, textarea.ng-touched.ng-invalid {color: #a94442;}
.red-border, .mail-input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid{border-color: #a94442;background-color: #f2dede;}
.lightbox{
  /** Default lightbox to hidden */
  display: none !important;
  opacity: 0;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.8);
  /*-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;*/
  transition: opacity 1s ease-in-out;
}
.lightbox>.content{
  max-width: 720px;
}
@media (min-width: 768px) {
  .mail-icon>span {min-height: 210px;line-height: 210px;}
}
.mail-icon>span{font-size: 100px;}
.mail-menu>li{margin-left: 0px !important;}
.mail-input{margin-top: 5px;margin-bottom: 5px;}
.mail-menu>li>a>button{width: 100%;height: 100%;background-color: transparent;border: 0px;}
#menu{overflow: auto;}
form.com-container>div>textarea{transition: height 0.5s ease-in-out;resize: none;}
.cookie-box{position:fixed;bottom:0;min-width:100%;margin-bottom:0;padding-top:12px;padding-bottom:12px;box-shadow:0 12px 200px #888,0 -10px 75px #888;opacity:0;transition:opacity 0.3s ease-in-out;z-index:1000;border-radius: 15px 15px 0 0;}
a.glyphicon:hover{text-decoration:none}
input {font-family: inherit;font-size: inherit;line-height: inherit;}
.like-panel-wrapper {
  margin-right: -5px;
}
.like-panel {
  display: flex;
}
.like-panel>div {
  flex: 1;
}
#games {
  display: flex;
  flex-wrap: wrap;
  /*margin-right: -13px;
  margin-top: -10px;*/
  margin: -10px;
  padding: 5px;
}
.title {
  background-color: hsla(0,0%,80%,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: left;
  padding: 2px 7.5px;
  font-variant: small-caps;
  color: hsla(0,0%,20%,1);
  letter-spacing: 2px;
}
.title>img {
  width: 20px;
  height: 20px;
  margin: 2px 5px;
  margin-top: -3px;
  border-radius: 4px;
}
[ng-click] {
  cursor: pointer;
}
h1, .send-message, .content, .instructions {text-align: center;}
.nav-pills>li, .send-message, ul, /*#games,*/ .games-wrapper {padding: 0px;}
body, .nav-pills>li>a, .send-message>li, .noMargin, ul {margin: 0;}
.single-pill, .loader {float: none;margin: 0px auto;}
.single-pill {
  max-width: 250px;
}
.single-pill>li {
  float: none !important;
}
.tag, .contact, .submit-g, .search {
  display: none;
  flex: 1;
}
@media (min-width: 277px) {
  .search {
    display: block;
  }
}
@media (min-width: 343px) {
  .contact, .search {
    display: block;
  }
}
@media (min-width: 426px) {
  .submit-g {
    display: block;
  }
}
@media (min-width: 560px) {
  .tag:nth-child(5) {
    display: block;
  }
}
@media (min-width: 605px) {
  .tag:nth-child(6) {
    display: block;
  }
}
@media (min-width: 743px) {
  .tag:nth-child(7) {
    display: block;
  }
}
@media (min-width: 859px) {
  .tag:nth-child(8) {
    display: block;
  }
}
@media (min-width: 908px) {
  .tag:nth-child(9) {
    display: block;
  }
}
@media (min-width: 1031px) {
  .tag:nth-child(10) {
    display: block;
  }
}
@media (min-width: 1073px) {
  .tag:nth-child(11) {
    display: block;
  }
}
li {
  display: block;
}
img {
  vertical-align: middle;
}
button, input, textarea {
  color: inherit;
  margin: 0;
  font: inherit;
}
button {
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}
.show-all>li {
  display: block !important;
}
.flex {
  display:flex;align-items:center;
}
embed {
  max-width: 100%;
}
.list-group-item {
  margin-top: 15px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label>span {
    display:inline-block;
    width:23px;
    height:23px;
    margin:-3px 4px 0 0;
    vertical-align:middle;
    background:#eee;
    cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
}
input[type="checkbox"]:checked + label>span {
  background: #666;
  color: #fff;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="checkbox"]:checked + label>span:before {
  content: "\e013";
}
.ad {
  display: flex;
  height: 259px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.ad>* {
  flex: 1;
}
select:focus, input:focus, textarea:focus {
  outline: 0;
  border: 2px solid #bbb !important;
}
img:before {
  display: block;
  position: absolute;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 12px;
  font-family: ubuntu, 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
img.appIcon:before {
  width: 66px;
  height: 66px;
  padding: 5px;
  content: "\e060" " Couldn't load image of " attr(alt);
}
.title>img:before {
  width: 13px;
  height: 16px;
  padding-left: 3px;
  content: "\e060";
}
